#poeta{
    color: rgb(88, 38, 136);
    background-color: rgb(35, 87, 35);
    text-align: justify;
}
#uno{
    color: rgb(4, 46, 4);
    background-color: rgb(62, 168, 41);
    text-align: justify;
}
#dos{
    color: rgb(0, 0, 0);
    background-color:rgb(62, 168, 41);
    text-align: justify;
}