#titulo1{
    text-align: center;
    color: rgb(88, 88, 170);
    background-color: burlywood;
}
#titulo2{
    text-align: center;
    color: rgb(76, 76, 177);
    background-color: burlywood;
}
#titulo3{
    text-align: center;
    color: rgb(28, 91, 185);
    background-color: burlywood;
}
body{
    background-image: url(futbol.jpg);
}